
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>添加联系人</title>
<!--    <link rel="stylesheet" href="add.css" th:href="@{/css/addressBook.css}>-->
    <link rel="stylesheet" href="../static/css/add.css"   th:href="@{/css/add.css}">

</head>

<body>
<div class="bkg">
    <form action="">
        name:&nbsp &nbsp &nbsp &nbsp <input type="text" name="name"><br>
        telephone: <input type="tel" name="usrtel"><br>
        e-mail:&nbsp &nbsp &nbsp &nbsp <input type="email" name="usremail"><br>
        address:  &nbsp &nbsp <input type="text" name="usraddress"><br>
        QQ:&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<input type="text" name="QQ"><br>

        <input  type="submit"  value ="添加"  style="width: 60px;height:30px;left: 50%" >
    <!--    class="inputSubmit"-->
    </form>
</div>
</body>
</html>
